:root {
  /* CSS HEX */
  --purple: #7400b8ff;
  --french-violet: #6930c3ff;
  --slate-blue: #5e60ceff;
  --tufts-blue: #5390d9ff;
  --blue-jeans: #4ea8deff;
  --vivid-sky-blue: #48bfe3ff;
  --sky-blue-crayola: #56cfe1ff;
  --medium-turquoise: #64dfdfff;
  --turquoise: #72efddff;
  --aquamarine: #80ffdbff;
}
input {
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}
label {
  font-size: 1.5rem;
}
body {
  background-image: url("./public/bgnew.png");
  color: var(--slate-blue);
  margin-left: 10%;
}
button {
  margin: 3rem 1rem 1rem 30%;
  padding: 1rem 3rem;
  border-radius: 10px;
  border-style: none;
  font-size: 1.5rem;
  color: mediumturquoise;
  background-color: purple;
}
.header {
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2rem 2px;
}
.container {
  border-style: dashed;
  border-width: 5px;
  border-color: var(--purple);
  max-width: 550px;
  padding-left: 3rem;
  padding: 2rem;
}
.text {
  margin: 1rem 0 1rem 0;
}
.agree-div {
  display: none;
  position: absolute;
  margin: 0 10% 0 50%;
}
.disagree-div {
  display: none;
  position: absolute;
  margin: 0 10%0 50%;
}
